.app.light {
    --bg-color: #fafafa;
    --inverted-bg-color: #313333;
    --primary-color: black;
    --secondary-color: #dada5b;
    --inverted-primary-color: #e6efef;
    --inverted-secondary-color: #22a182;
}
